<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tibia de Jose</title>
    <link rel="stylesheet" href="main.css"> <!-- Agrega un enlace al archivo de estilos externo -->
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>Home</h1>
    <header class="container justify-content-center align-items-center vh-100 d-flex medieval-style">
        <img src="/Img/sticker-png-tibia-ico-tibia-render-style.png" alt="">
        <h2>La arepa es Colombiana</h2>
    </header>
</body>
</html>
